<html>
    <head>
      {% if title %}
      <title>{{ title }} - SpeciesPrimer</title>
      {% else %}
      <title>Welcome to SpeciesPrimer</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    </head>
    <body>
        <header>
          <div>
            <strong><nav>
              <ul class="menu">
                <li><a href="{{ url_for('index') }}">Info</a></li>
                <li><a href="{{ url_for('change_login') }}">Login</a></li>
                <li><a href="{{ url_for('primerdesign') }}">Primer design</a></li>
                <li><a href="{{ url_for('pipelineconfig') }}">SpeciesPrimer settings</a></li>
                <li><a href="{{ url_for('blastdb') }}">Blast DB</a></li>
                <li><a href="{{ url_for('helppipesetup') }}" target="_blank" >Help</a></li>
              </ul>
            </nav></strong>
          </div>
        </header>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="container">
          <div class="row">
              <div class="col-1 col-s-1"></div>

              <div class="col-8 col-s-11">{% block content %}{% endblock %}</div>          
              <div class="col-1 col-s-12"></div>
          </div>          
        </div>
    </body>
</html>
