{% extends "base.html" %}

{% block content %} 
    <h1>Start primer design for new targets</h1>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>Path to working directory</p>
        <p>{{ form.wd_path() }}</p>
        {% for error in form.wd_path.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
        <p>Target species (comma separated)</p>
        {{ form.selected_species() }}
        {% for error in form.selected_species.errors %}
        <span style="color: red;">Please provide at least one species name e.g. Lactobacillus helveticus</span>
        {% endfor %}
        <p></p>             
        {{ form.same_setting() }} Use the same settings for all targetspecies
        </p>    
        <p>{{ form.submit() }}</p>
        </form>
{% endblock %}